<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Report</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
  </head>
  <body>

    <div class="container">
      <h1>Event Details</h1>
      <p>Event Name: <strong>{{event_name}}</strong></p>
      <p>Venue: <strong></strong> </p>
      <p>Capacity:  <strong>{{capacity}}</strong></p>
      <p>Booking Date: <strong>{{book_date}}</strong></p>
      <p>Booking Time:  <strong> {{book_time}}</strong></p>
      <p>Venue Charges: KES. <strong>{{cost}}</strong></p>

      <form action="/view-events" method="get">
        <button type="submit" class="btn" id="view-events-btn" style="margin-bottom: 20px;">VIEW EVENTS</button>
      </form>
      <a href="/"><button class="btn" id="book-new-event-btn">BOOK NEW EVENT</button></a>
    </div>

  </body>
</html>

