<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Report</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
  </head>
  <body>

    <div class="container">
      <h1>Event Details</h1>
      <p><strong>Event Name:</strong> {{event_name}}</p>
      <p><strong>Venue:</strong> {{venue}}</p>
      <p><strong>Capacity:</strong> {{capacity}}</p>
      <p><strong>Booking Date:</strong> {{book_date}}</p>
      <p><strong>Booking Time:</strong> {{book_time}}</p>
      <p><strong>Venue Charges:</strong> KES. {{cost}}</p>

      <form action="/view-events" method="get">
        <button type="submit" id="view-events-btn">VIEW EVENTS</button>
      </form>
      <a href="/"><button>BOOK NEW EVENT</button></a>
    </div>

  </body>
</html>

